cff-version: 1.2.0
message: "If you use {{ project_name }} in your work, please cite it using this metadata."
title: "{{ project_name }}"
abstract: "{{ project_description }}"
version: {{ initial_version }}
authors:
  - family-names: "{{ author_name }}"
    email: "{{ author_email }}"
repository-code: "{{ repository_url }}"
url: "{{ documentation_url }}"
license: "{{ license }}"
keywords:
  - python
