# Security Policy

## Supported Versions

Security fixes are provided for the latest released version of {{ project_name }}.

## Reporting a Vulnerability

Email {{ author_name }} at <{{ author_email }}> with:

* a description of the issue;
* affected versions or commits;
* reproduction steps, if available;
* any known mitigations.

Do not open public issues for suspected vulnerabilities.
